<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.CallResultDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.CallResult">
        <result column="id" property="id"/>
        <result column="request_id" property="requestId"/>
        <result column="province" property="province"/>
        <result column="category" property="category"/>
        <result column="api_codesn" property="apiCodesn"/>
        <result column="duration" property="duration"/>
        <result column="bills_type" property="billsType"/>
        <result column="result" property="result"/>
        <result column="createtime" property="createtime"/>
        <result column="isdel" property="isdel"/>
        <result column="client" property="client"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,request_id, province, category, api_codesn, duration,bills_type,result,createtime,isdel,client
    </sql>
	<insert id="insert" parameterType="org.spring.springboot.domain.CallResult">
		insert into t_call_result(request_id,province,category, api_codesn, duration,bills_type,result,createtime,client)
		values(#{vo.requestId},#{vo.province},#{vo.category},#{vo.apiCodesn},#{vo.duration},#{vo.billsType},#{vo.result},#{vo.createtime},#{vo.client})
	</insert>

    <select id="finCallResultItemByCondition" resultType="org.spring.springboot.vo.CallResultRsp"
            parameterType="org.spring.springboot.vo.CallResultReq">
        select
        id,request_id as requestId,province,category,api_codesn as apiCodesn,bills_type as billsType,result,duration,createtime,client
        FROM t_call_result where createtime &gt;= #{vo.createTimeFrom} and createtime &lt;= #{vo.createTimeTo} and
        isdel=0
        <if test="vo.requestId != null and vo.requestId != ''">
            and request_id = #{vo.requestId}
        </if>
        <if test="vo.province != null and vo.province != ''">
            and province = #{vo.province}
        </if>
        <if test="vo.category != null and vo.category != ''">
            and category = #{vo.category}
        </if>
        <if test="vo.apiCodesn != null and vo.apiCodesn != ''">
            and api_codesn = #{vo.apiCodesn}
        </if>
        <if test="vo.durationFrom != null">
            and duration &gt;= #{vo.durationFrom}
        </if>
        <if test="vo.durationTo != null">
            and duration &lt;= #{vo.durationTo}
        </if>
        <if test="vo.billsType != null and vo.billsType != ''">
            and bills_type = #{vo.billsType}
        </if>
        <if test="vo.result != null">
            and result = #{vo.result}
        </if>
        order by id
    </select>
    <select id="finCallResultPatchByCondition" resultType="org.spring.springboot.vo.CallResultRsp"
            parameterType="org.spring.springboot.vo.CallResultPatchReq">
        select
        id,request_id as requestId,province,category,api_codesn as apiCodesn,bills_type as billsType,result,duration,createtime,client
        FROM t_call_result where createtime &gt;= #{vo.createTimeFrom} and createtime &lt;= #{vo.createTimeTo} and
        isdel=0
        <if test="vo.requestId != null and vo.requestId != ''">
            and request_id = #{vo.requestId}
        </if>
        <if test="vo.provinceList != null and vo.provinceList.size() > 0" >
            and province in
            <foreach collection="vo.provinceList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="vo.categoryList != null and vo.categoryList.size() > 0" >
            and category in
            <foreach collection="vo.categoryList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="vo.apiCodesnList != null and vo.apiCodesnList.size() > 0" >
            and api_codesn in
            <foreach collection="vo.apiCodesnList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
        </if>
        <if test="vo.billsTypeList != null and vo.billsTypeList.size() > 0" >
            and bills_type in
            <foreach collection="vo.billsTypeList" item="item" index="index" open="(" close=")" separator=",">
                #{item}
            </foreach>
       </if>
        <if test="vo.durationFrom != null">
            and duration &gt;= #{vo.durationFrom}
        </if>
        <if test="vo.durationTo != null">
            and duration &lt;= #{vo.durationTo}
        </if>
        <if test="vo.result != null">
            and result = #{vo.result}
        </if>
        order by id
    </select>

    <select id="findByCondition" resultType="org.spring.springboot.vo.CallResultRsp"
            parameterType="org.spring.springboot.vo.CallResultReq">
        select
        province,category,api_codesn as apiCodesn,bills_type as billsType,result,count(1) size,min(duration) durationMin,max(duration) durationMax
        FROM t_call_result where createtime &gt;= #{vo.createTimeFrom} and createtime &lt;= #{vo.createTimeTo} and
        isdel=0
        <if test="vo.province != null and vo.province != ''">
            and province = #{vo.province}
        </if>
        <if test="vo.category != null and vo.category != ''">
            and category = #{vo.category}
        </if>
        <if test="vo.apiCodesn != null and vo.apiCodesn != ''">
            and api_codesn = #{vo.apiCodesn}
        </if>
        <if test="vo.durationFrom != null">
            and duration &gt;= #{vo.durationFrom}
        </if>
        <if test="vo.durationTo != null">
            and duration &lt;= #{vo.durationTo}
        </if>
        <if test="vo.billsType != null and vo.billsType != ''">
            and bills_type = #{vo.billsType}
        </if>
        <if test="vo.result != null">
            and result = #{vo.result}
        </if>
        group by province,category,api_codesn,bills_type,result
    </select>
</mapper>
