<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.CallResultDao">
    <resultMap id="BaseResultMap" type="org.spring.springboot.domain.CallResult">
        <result column="id" property="id"/>
        <result column="province" property="province"/>
        <result column="category" property="category"/>
        <result column="api_codesn" property="apiCodesn"/>
        <result column="duration" property="duration"/>
        <result column="bills_type" property="billsType"/>
        <result column="result" property="result"/>
        <result column="createtime" property="createtime"/>
        <result column="isdel" property="isdel"/>
        <result column="client" property="client"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, province, category, api_codesn, duration,bills_type,result,createtime,isdel,client
    </sql>
	<insert id="insert" parameterType="org.spring.springboot.domain.CallResult">
		insert into t_call_result(province,category, api_codesn, duration,bills_type,result,createtime,client)
		values(#{vo.province},#{vo.category},#{vo.apiCodesn},#{vo.duration},#{vo.billsType},#{vo.result},#{vo.createtime},#{vo.client})
	</insert>

    <select id="finCallResultdItemByCondition" resultType="org.spring.springboot.vo.CallResultRsp"
            parameterType="org.spring.springboot.vo.CallResultReq">
        select
        id,province,category,api_codesn as apiCodesn,bills_type as billsType,result,duration,createtime,client
        FROM t_call_result where createtime &gt;= #{vo.createTimeFrom} and createtime &lt;= #{vo.createTimeTo} and
        isdel=0
        <if test="vo.province != null and vo.province != ''">
            and province = #{vo.province}
        </if>
        <if test="vo.category != null and vo.category != ''">
            and category = #{vo.category}
        </if>
        <if test="vo.apiCodesn != null and vo.apiCodesn != ''">
            and api_codesn = #{vo.apiCodesn}
        </if>
        <if test="vo.durationFrom != null">
            and duration &gt;= #{vo.durationFrom}
        </if>
        <if test="vo.durationTo != null">
            and duration &lt;= #{vo.durationTo}
        </if>
        <if test="vo.billsType != null and vo.billsType != ''">
            and bills_type = #{vo.billsType}
        </if>
        <if test="vo.result != null">
            and result = #{vo.result}
        </if>
    </select>
    <select id="findByCondition" resultType="org.spring.springboot.vo.CallResultRsp"
            parameterType="org.spring.springboot.vo.CallResultReq">
        select
        province,category,api_codesn as apiCodesn,bills_type as billsType,result,count(1) size,min(duration) durationMin,max(duration) durationMax
        FROM t_call_result where createtime &gt;= #{vo.createTimeFrom} and createtime &lt;= #{vo.createTimeTo} and
        isdel=0
        <if test="vo.province != null and vo.province != ''">
            and province = #{vo.province}
        </if>
        <if test="vo.category != null and vo.category != ''">
            and category = #{vo.category}
        </if>
        <if test="vo.apiCodesn != null and vo.apiCodesn != ''">
            and api_codesn = #{vo.apiCodesn}
        </if>
        <if test="vo.durationFrom != null">
            and duration &gt;= #{vo.durationFrom}
        </if>
        <if test="vo.durationTo != null">
            and duration &lt;= #{vo.durationTo}
        </if>
        <if test="vo.billsType != null and vo.billsType != ''">
            and bills_type = #{vo.billsType}
        </if>
        <if test="vo.result != null">
            and result = #{vo.result}
        </if>
        group by province,category,api_codesn,bills_type,result
    </select>




    <!--if 标签使用类似html的C标签的if -->
    <!--<select id="selectUseIf" parameterType="com.soft.test.model.User" resultMap="userMap">
        select * from t_user where
        <if test="id != null and id != ''">
            id=#{id}
        </if>
        <if test="username != null and username != ''">
            and username like concat('%',#{username},'%')
        </if>
        <if test="password != null and password != ''">
            and password=#{password}
        </if>
    </select>-->

</mapper>
