<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.MenuDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.Menu">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="parent_id" property="parentId" />
		<result column="url" property="url" />
		<result column="permissions" property="permissions" />
		<result column="type" property="type" />
		<result column="order_num" property="orderNum" />
		<result column="isdel" property="isdel"/>
		<result column="createtime" property="createtime"/>
		<result column="level" property="level"/>
	</resultMap>
	<!--<insert id="insertUser" parameterType="org.spring.springboot.domain.User">
		insert into t_user(user_name, password, description)
		values(#{vo.userName},#{vo.passWord},#{vo.description})
	</insert>
	<update id="updateUser" parameterType="org.spring.springboot.domain.User">
		update t_user
		<set>
			<if test="vo.passWord != null">password=#{vo.passWord},</if>
			<if test="vo.description != null">description=#{vo.description},</if>
		</set>
		where user_name=#{vo.userName}
	</update>-->
	<select id="findMenusByIds" resultMap="BaseResultMap"
			parameterType="java.lang.Integer">
		select *
		FROM t_menu where isdel=0
		<if test="menuids != null and menuids.size() > 0" >
			and id in
			<foreach collection="menuids" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</select>

	<select id="queryIdsByParentId" resultType="java.lang.Integer"
			parameterType="java.lang.Integer">
		select id from t_menu a
		where a.isdel=0
		<if test="parentid != null" >
			and a.parent_id = #{parentid}
		</if>
	</select>
	<select id="queryIdsByParentIds" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select id from t_menu a
		where a.isdel=0
		<if test="parentids != null and parentids.size() > 0" >
			and parent_id in
			<foreach collection="parentids" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</select>
	<select id="findMenuIdsByUserId" resultType="java.lang.Integer"
			parameterType="java.lang.Integer">
		select distinct(c.id) from t_user_role a left join t_role_menu b
		on a.roleid=b.role_id
		left join t_menu c on c.id=b.menu_id
		where a.isdel=0 and b.isdel=0 and c.isdel=0
		and c.type=0
		<if test="userid != null" >
		 and a.userid = #{userid}
		</if>
	</select>
	<select id="queryMenusByNameLike" resultMap="BaseResultMap"
			parameterType="org.spring.springboot.domain.Menu">
		select *
		FROM t_menu where isdel=0
		<if test="vo.name != null and vo.name != ''">
			and name like concat('%',#{vo.name},'%')
		</if>
		order by parent_id,order_num
	</select>


	<select id="findMenuByCondition" resultMap="BaseResultMap"
			parameterType="org.spring.springboot.domain.Menu">
		select *
		FROM t_menu where isdel=0
		<if test="vo.name != null and vo.name != ''">
			and name = #{vo.name}
		</if>
		<if test="vo.type != null">
			and type = #{vo.type}
		</if>
		<if test="vo.parentId != null  and vo.parentId > 0">
			and parent_id = #{vo.parentId}
		</if>
		<if test="vo.url != null and vo.url != ''">
			and url = #{vo.url}
		</if>
		<if test="vo.permissions != null and vo.permissions != ''">
			and permissions = #{vo.permissions}
		</if>
		<if test="vo.orderNum != null">
			and order_num = #{vo.orderNum}
		</if>
		<if test="vo.id != null">
			and id = #{vo.id}
		</if>
	</select>

</mapper>
