<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.RoleDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.Role">
		<result column="id" property="id" />
		<result column="name" property="name" />
		<result column="description" property="description" />
		<result column="isdel" property="isdel"/>
		<result column="createtime" property="createtime"/>
	</resultMap>
	<resultMap id="RoleIdNameMap" type="org.spring.springboot.vo.KeyValue">
		<result column="id" property="key"/>
		<result column="name" property="value"/>
	</resultMap>
	<insert id="insertRole" parameterType="org.spring.springboot.domain.Role">
		insert into t_role(name, description)
		values(#{vo.name},#{vo.description})
	</insert>
	<update id="deleteRoleById" parameterType="java.lang.Integer">
		update t_role set isdel=1 where id=#{roleId} and isdel=0;
	</update>
	<update id="deleteUserroleByRoleId" parameterType="java.lang.Integer">
		update t_user_role set isdel=1 where roleid=#{roleId} and isdel=0
	</update>
	<update id="deleteRolemenuByRoleId" parameterType="java.lang.Integer">
		update t_role_menu set isdel=1 where isdel=0 and role_id=#{roleId};
	</update>

	<update id="updateRole" parameterType="org.spring.springboot.domain.Role">
		update t_role
		<set>
			<if test="vo.name != null">name=#{vo.name},</if>
			<if test="vo.description != null">description=#{vo.description},</if>
		</set>
		where id=#{vo.id}
	</update>
	<!--
	<update id="updateUser" parameterType="org.spring.springboot.domain.User">
		update t_user
		<set>
			<if test="vo.passWord != null">password=#{vo.passWord},</if>
			<if test="vo.description != null">description=#{vo.description},</if>
		</set>
		where user_name=#{vo.userName}
	</update>-->
	<select id="findRoleMap" resultMap="RoleIdNameMap">
		select id,name from t_role where isdel=0
	</select>
	<select id="findRoleByCondition" resultMap="BaseResultMap"
			parameterType="org.spring.springboot.domain.Role">
		select *
		FROM t_role where isdel=0
		<if test="vo.name != null and vo.name != ''">
			and name = #{vo.name}
		</if>
		<if test="vo.id != null">
			and id = #{vo.id}
		</if>
	</select>

	<select id="findRolesByUserId" resultMap="BaseResultMap"
			parameterType="java.lang.Integer">
		SELECT b.* FROM gsc.t_user_role a left join t_role b
		on a.roleid=b.id
		where a.isdel=0 and b.isdel=0
		<if test="userid != null">
			and a.userid=#{userid}
		</if>
	</select>

</mapper>
