<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.RoleMenuDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.RoleMenu">
		<result column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="menu_id" property="menuId" />
		<result column="isdel" property="isdel"/>
		<result column="createtime" property="createtime"/>
	</resultMap>

	<!-- 批量插入生成的兑换码 -->
	<insert id ="insertBatchRoleMenu" parameterType="org.spring.springboot.domain.RoleMenu" >
		<selectKey resultType ="java.lang.Integer" keyProperty= "id"
				   order= "AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey >
		insert into t_role_menu
		(role_id, menu_id)
		values
		<foreach collection ="roleMenuList" item="item" index= "index" separator =",">
			(#{item.roleId}, #{item.menuId})
		</foreach >
	</insert >

	<!--<insert id="insertUser" parameterType="org.spring.springboot.domain.User">
		insert into t_user(user_name, password, description)
		values(#{vo.userName},#{vo.passWord},#{vo.description})
	</insert>
	<update id="updateUser" parameterType="org.spring.springboot.domain.User">
		update t_user
		<set>
			<if test="vo.passWord != null">password=#{vo.passWord},</if>
			<if test="vo.description != null">description=#{vo.description},</if>
		</set>
		where user_name=#{vo.userName}
	</update>-->
	<update id="deleteByRoleidAndMenuIds">
		update t_role_menu  set isdel=1
		where  isdel=0
		<if test="roleId != null">
			and role_id = #{roleId}
		</if>
		<if test="idsToDel != null and idsToDel.size() > 0" >
			and menu_id in
			<foreach collection="idsToDel" item="item" index="index" open="(" close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</update>

	<select id="findRoleMenuByCondition" resultMap="BaseResultMap"
			parameterType="org.spring.springboot.domain.RoleMenu">
		select *
		FROM t_role_menu where isdel=0
		<if test="vo.roleId != null">
			and role_id = #{vo.roleId}
		</if>
		<if test="vo.menuId != null">
			and menu_id = #{vo.menuId}
		</if>
		<if test="vo.id != null">
			and id = #{vo.id}
		</if>
	</select>

</mapper>
