<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.spring.springboot.dao.UserDao">
	<resultMap id="BaseResultMap" type="org.spring.springboot.domain.User">
		<result column="id" property="id" />
		<result column="user_name" property="userName" />
		<result column="password" property="passWord" />
		<result column="description" property="description" />
		<result column="isdel" property="isdel"/>
		<result column="createtime" property="createtime"/>
		<result column="type" property="type"/>
	</resultMap>

	<insert id="insertUser" parameterType="org.spring.springboot.domain.User">
		insert into t_user(user_name, password, description,type)
		values(#{vo.userName},#{vo.passWord},#{vo.description},#{vo.type})
	</insert>
	<update id="updateUser" parameterType="org.spring.springboot.domain.User">
		update t_user
		<set>
			<if test="vo.passWord != null">password=#{vo.passWord},</if>
			<if test="vo.description != null">description=#{vo.description},</if>
			<if test="vo.type != null">type=#{vo.type},</if>
		</set>
		where user_name=#{vo.userName}
	</update>
	<select id="findUserByCondition" resultMap="BaseResultMap"
			parameterType="org.spring.springboot.domain.User">
		select *
		FROM t_user where isdel=0
		<if test="vo.userName != null and vo.userName != ''">
			and user_name = #{vo.userName}
		</if>
		<if test="vo.passWord != null and vo.passWord != ''">
			and password = #{vo.passWord}
		</if>
		<if test="vo.type != null">
			and type = #{vo.type}
		</if>
	</select>

</mapper>
